# Backend env
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

JWT_TOKEN=

S3_BUCKET_NAME=
AWS_REGION=

# database env
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Frontend env
FRONTEND_PORT=
